.idea/
.vagrant/
logs/
projects/
node_modules
_cache/
coverage/
/tmp/**/*
log.txt
manifest.json
uploads.tar.gz
database.sql.gz
sys/hosts.json
sys/portmap.json
Customfile
aliases
!config/aliases
test-report.xml